extends layout.pug
block content
    section
        p Grain bins woof. Forage Harvester, bean and Silage dump, cultivator brussel sprouts harrows, celery dread with kale augers harrows. Ewes fox, hay hook hay manure, John Deere radish barn, a hay loft house at pony. Lettus gobblers pens, radish on kidney beans, llamas pick up truck. Shovels at rakes plows. bull bowels cat chicken cow, calf donkey duck. Fertilizer buzz, purr meow cheep chinchillas squeak, seeds maple syrup worms, potato alligators grunt are at bees.
        h2 here is yet list page
        p more little text here to see
        form(action="/list", method="post")
            label enter you item to add
                input(type="text", name="itemAdded" )
            button(type="submit") submit